---
title: Welcome to middleman-bourbon-heroku-ready Starter Kit
---
<div class="row-wrapper">

<div class="outer-container">
<header>
<h1 id="title">My Starter Kit</h1>
<nav id="repo">
  <i class="fa fa-github"></i>
  <%= link_to 'Middleman-heroku-bourbon-ready', "http://github.com/magiknono/middleman-heroku-bourbon-ready" %>
</nav>
</header>
</div>

</div>

<div class="row-wrapper">
<div class="outer-container">
<section id="intro">
<h1>Custom Starter kit for designing static websites</h1>
<br />
<h2><i class="fa-li fa fa-check-square"></i>Build awesome static website with this starter kit</h2>
<p>
<i class="fa fa-diamond"> Middleman is powered by Ruby</i>
</p>
</section>
</div>

<div class="outer-container-main">
<section id="features">
<h2> Features :</h2>
<ul class="fa-ul">
  <% data.lib.features.each do |f| %>
  <li><i class="fa-li fa fa-check-square"></i><%= f %></li>
  <% end %>
</ul>

</section>


<section id="logo">

  <section id="left">
<%= image_tag 'middleman.png' %>
  </section>
<section id="right">
<%= image_tag 'http://www.google.fr/url?source=imglanding&ct=img&q=http://2.bp.blogspot.com/-j48rBwZEpXI/TsI04_llvaI/AAAAAAAAAWg/PYnAX1hehes/s1600/ruby_logo_text_bottom.png&sa=X&ei=npZUVdK9CsnsUuO_gJgO&ved=0CAkQ8wc&usg=AFQjCNHo8PYjnw1HngzFkMry7TFgq1ROhg' %>
</section>
</section>
</div>

</br>
<div class="outer-container">
<aside>

<h2>Want to know how to use Middleman :</h2>
<p>
    <%= link_to "Read Middleman Documentation", "http://middlemanapp.com/" %>
  </p>
</aside>
</div>
<div class="outer-container-bottom">
<footer>footer</footer>
</div>

